<a href="https://colab.research.google.com/github/Code-tanisha/UPgrad-Python-Data-science-/blob/main/Comprehension_Map_filter_reduce.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# Extract words containing * 

giftBox="pencil mac*book rubber i*phone paper i*pad"
gift_list = giftBox.split()
[item for item in gift_list if '*' in item ]

['mac*book', 'i*phone', 'i*pad']

In [14]:
# List comprehension
# print keys and length of each word 
words=['contentment','laughter','jubilation','blss','vivacity']
result = {x:len(x) for x in words}
result

{'blss': 4, 'contentment': 11, 'jubilation': 10, 'laughter': 8, 'vivacity': 8}

In [21]:
# price are given in dollar convert into INR
# Assuming dollar rate is 72
grocery_list={'milk':2.5 ,'butter':1.5,'bread':3}
print(grocery_list.items())                                    # items is a function which returns to key- value pair in the form of tuples
result = {key:value*72 for key,value in grocery_list.items()}  # here we have done unpacking
result

dict_items([('milk', 2.5), ('butter', 1.5), ('bread', 3)])

{'bread': 216, 'butter': 108.0, 'milk': 180.0}

In [ ]:
# write a lambda fucntion that takes temprature in farhenhieit and converts into celcius
cel = lambda tem:(tem-32)*(5/9)

In [25]:
# extract only integers, and we can do it with filter
garbage =[100,True,'hello',200,False,[10,20],300,'hi']
result = list(filter(lambda w: type(w)==int, garbage))
print(result)

[100, 200, 300]