<a href="https://colab.research.google.com/github/Code-tanisha/UPgrad-Python-Data-science-/blob/main/NumPyPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
from google.colab import files
uploaded = files.upload()

Saving MegaMart_sales.csv to MegaMart_sales.csv

In [12]:
df = pd.read_csv('MegaMart_sales.csv', header = 0)
df.head()

          Order ID  ... Sub-Category
0  AZ-2011-1029887  ...       Labels
1   AZ-2011-107716  ...  Furnishings
2  AZ-2011-1087704  ...  Accessories
3  AZ-2011-1372644  ...     Machines
4  AZ-2011-1362199  ...          Art

[5 rows x 8 columns]

In [4]:
from google.colab import files
uploaded = files.upload()

Saving MegaMart_newsales.csv to MegaMart_newsales.csv

In [13]:
df1 = pd.read_csv('MegaMart_newsales.csv', header = 0)
df1.head()

          Order ID  ... Sub-Category
0  AZ-2011-1902971  ...      Binders
1  AZ-2011-1916360  ...    Bookcases
2  AZ-2011-1916555  ...      Storage
3  AZ-2011-1930058  ...          Art
4  AZ-2011-1967754  ...  Accessories

[5 rows x 8 columns]

In [10]:
# combining the above dataframe as data
data = df1.merge(df, how="outer")
data.head()

          Order ID  ... Sub-Category
0  AZ-2011-1902971  ...      Binders
1  AZ-2011-1916360  ...    Bookcases
2  AZ-2011-1916555  ...      Storage
3  AZ-2011-1930058  ...          Art
4  AZ-2011-1967754  ...  Accessories

[5 rows x 8 columns]

In [11]:
data.shape

(68, 8)

In [17]:
data.groupby("Category").sum()

                 Discount  Sales  Profit  Quantity
Category
Furniture             1.3   2460     333        36
Office Supplies       4.7   7970    1338       169
Technology            0.0   8588    2278        60

**Dropping duplicates**

**Question 2:** There are some duplicate rows in the data frame. Drop these rows and calculate the total sales value of the category Office Supplies.

In [21]:
sales = data.drop_duplicates() 
sales.head()

          Order ID  ... Sub-Category
0  AZ-2011-1902971  ...      Binders
1  AZ-2011-1916360  ...    Bookcases
2  AZ-2011-1916555  ...      Storage
3  AZ-2011-1930058  ...          Art
4  AZ-2011-1967754  ...  Accessories

[5 rows x 8 columns]

In [22]:
sales.groupby("Category").sum()

                 Discount  Sales  Profit  Quantity
Category
Furniture             1.3   2460     333        36
Office Supplies       3.6   6964    1045       149
Technology            0.0   7494    2001        50

**Best category-sub category**

**Question 3:** Find the most profitable category and sub category combination based on the net profit.

In [24]:
sales.groupby(["Category","Sub-Category"]).sum().sort_values("Profit", ascending=False)

                              Discount  Sales  Profit  Quantity
Category        Sub-Category
Technology      Phones             0.0   5199    1618        26
Furniture       Bookcases          0.1   1459     308        11
Office Supplies Art                1.0   1364     275        44
                Appliances         0.1   1819     229         8
Technology      Accessories        0.0   1053     215        18
Office Supplies Storage            2.0   2019     192        25
Technology      Machines           0.0    800     168         3
Office Supplies Binders            0.5    924     156        31
                Supplies           0.0    362     103        11
Furniture       Furnishings        0.0    443      74        12
Office Supplies Envelopes          0.0    146      35         9
                Labels             0.0    166      30        15
                Paper              0.0    136      15         4
                Fasteners          0.0     28      10         2
Technology      Copiers            0.0    442       0         3
Furniture       Chairs             1.2    558     -49        13

**Invalid order IDs**

**Question 4:** How many invalid order IDs are there in the data frame. An order id is of the form AZ-2011-Y where Y represents a whole number. A Order ID is said to be valid only if Y consists of 7 digits. Find the number of valid order order IDs in the data frame.

In [41]:
sales["Order_len"] = sales["Order ID"].apply(lambda x: len(x)<15)
sales["Order_len"].sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

7

**Occurence of furniture in top 25 sales**

**Question 5:** Find the top 25 orders based on sales value and find the number of orders which belong to furniture category.

In [46]:
sales.sort_values('Sales', ascending = False).head(25)[sales["Category"]=="Furniture"]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

           Order ID                      Product Name  ...  Sub-Category  Order_len
40   AZ-2011-144325     Bush Stackable Bookrack, Pine  ...     Bookcases       True
24  AZ-2011-1253407    Safco Stackable Bookrack, Pine  ...     Bookcases      False
28   AZ-2011-130330  Office Star Chairmat, Adjustable  ...        Chairs       True
1   AZ-2011-1916360     Dania 3-Shelf Cabinet, Mobile  ...     Bookcases      False
54  AZ-2011-1589827  Novimex Steel Folding Chair, Red  ...        Chairs      False

[5 rows x 9 columns]

**Multiple conditions**

Among the orders with sales>250 and profit>50, find the product name of the fourth highest order based on sales value.

In [48]:
sales[(sales["Sales"]>250) & (sales["Profit"]>50)].sort_values("Sales",ascending=False).head(4)

           Order ID                      Product Name  ...  Sub-Category  Order_len
39  AZ-2011-1410648      Nokia Smart Phone, Full Size  ...        Phones      False
67   AZ-2011-176674             Hoover Microwave, Red  ...    Appliances       True
20  AZ-2011-1174243  Nokia Audio Dock, with Caller ID  ...        Phones      False
32  AZ-2011-1322840  Motorola Headset, with Caller ID  ...        Phones      False

[4 rows x 9 columns]

**Column manipulation**

Remove the orders with negative profit by dropping the corresponding rows with negative Profit or no Profit. Find the product that makes the lowest profit per Quantity in the Technology category.

In [50]:
sales["prof_per_qty"] = sales["Profit"]/sales["Quantity"]
sales[(sales["Profit"]>0) & (sales["Category"]=="Technology")].sort_values("prof_per_qty")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

           Order ID  ... prof_per_qty
50  AZ-2011-1536006  ...     7.333333
11  AZ-2011-1087704  ...    15.571429
4   AZ-2011-1967754  ...    20.000000
20  AZ-2011-1174243  ...    25.000000
32  AZ-2011-1322840  ...    26.333333
13  AZ-2011-1372644  ...    56.000000
63  AZ-2011-1722024  ...    71.000000
42  AZ-2011-1445262  ...   140.000000
39  AZ-2011-1410648  ...   273.333333

[9 rows x 11 columns]

In [51]:
# OR

df4=df[df.Profit>0]
df4=df4.loc[df4.Category=='Technology']

df4['Profit_per_qty']=df4['Profit']/df4['Quantity']

df4.sort_values(by='Profit_per_qty',ascending=True)

           Order ID  ... Profit_per_qty
39  AZ-2011-1536006  ...       7.333333
2   AZ-2011-1087704  ...      15.571429
13  AZ-2011-1087704  ...      15.571429
8   AZ-2011-1174243  ...      25.000000
20  AZ-2011-1322840  ...      26.333333
3   AZ-2011-1372644  ...      56.000000
28  AZ-2011-1372644  ...      56.000000
52  AZ-2011-1722024  ...      71.000000
33  AZ-2011-1445262  ...     140.000000
30  AZ-2011-1410648  ...     273.333333

[10 rows x 9 columns]