<a href="https://colab.research.google.com/github/Code-tanisha/UPgrad-Python-Data-science-/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

### **EXAMPLE 1**

Create a Data Frame cars using raw data stored in a dictionary

In [ ]:
cars_per_cap = [809, 731, 588, 18, 200, 70, 45]
country = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
drives_right = [True, False, False, False, True, True, True]

In [ ]:
# Now we will create a dictionary with the keys and balues given above

data = {"cars_per_cap": cars_per_cap, "country":country, "drives_right":drives_right}
data

{'cars_per_cap': [809, 731, 588, 18, 200, 70, 45],
 'country': ['United States',
  'Australia',
  'Japan',
  'India',
  'Russia',
  'Morocco',
  'Egypt'],
 'drives_right': [True, False, False, False, True, True, True]}

In [ ]:
# Now we will create a data frame with the dictionary made above ie data
cars = pd.DataFrame(data)
cars

   cars_per_cap        country  drives_right
0           809  United States          True
1           731      Australia         False
2           588          Japan         False
3            18          India         False
4           200         Russia          True
5            70        Morocco          True
6            45          Egypt          True

In [ ]:
type(cars)

pandas.core.frame.DataFrame

Reading a DATA File

In [ ]:
import os
from google.colab import files
uploaded = files.upload()

Saving cars.csv to cars (1).csv

In [ ]:
cars_df = pd.read_csv('cars.csv')
cars_df

    USCA   US United States    809  FALSE
0  ASPAC  AUS     Australia  731.0   True
1  ASPAC  JAP         Japan  588.0   True
2  ASPAC   IN         India   18.0   True
3  ASPAC   RU        Russia  200.0  False
4  LATAM  MOR       Morocco   70.0  False
5    AFR   EG         Egypt   45.0  False
6    EUR  ENG       England    NaN   True

In [ ]:
# In the above data frame we can see that it has automaticly taken row 1 as index an we dont want that so:-

cars_df = pd.read_csv('cars.csv', header=None)
cars_df

       0    1              2      3      4
0   USCA   US  United States  809.0  False
1  ASPAC  AUS      Australia  731.0   True
2  ASPAC  JAP          Japan  588.0   True
3  ASPAC   IN          India   18.0   True
4  ASPAC   RU         Russia  200.0  False
5  LATAM  MOR        Morocco   70.0  False
6    AFR   EG          Egypt   45.0  False
7    EUR  ENG        England    NaN   True

##### **Assign headers**

In [ ]:
# Now we may also want to set some headers
# Return the array of headers
cars_df.columns

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [ ]:
cars_df.columns = ['country code', 'region', 'country', 'car_per_cap', 'drive_right']
cars_df.columns

Index(['country code', 'region', 'country', 'car_per_cap', 'drive_right'], dtype='object')

In [ ]:
cars_df

  country code region        country  car_per_cap  drive_right
0         USCA     US  United States        809.0        False
1        ASPAC    AUS      Australia        731.0         True
2        ASPAC    JAP          Japan        588.0         True
3        ASPAC     IN          India         18.0         True
4        ASPAC     RU         Russia        200.0        False
5        LATAM    MOR        Morocco         70.0        False
6          AFR     EG          Egypt         45.0        False
7          EUR    ENG        England          NaN         True

**Example - 4 (Row index/names)**

Read file - skip header and assign first column as index

In [ ]:
# Index is returned by
cars_df.index

RangeIndex(start=0, stop=8, step=1)

In [ ]:
# Read file and set 1st column as index

cars_df = pd.read_csv("cars.csv",header=None, index_col = 0)
cars_df

         1              2      3      4
0
USCA    US  United States  809.0  False
ASPAC  AUS      Australia  731.0   True
ASPAC  JAP          Japan  588.0   True
ASPAC   IN          India   18.0   True
ASPAC   RU         Russia  200.0  False
LATAM  MOR        Morocco   70.0  False
AFR     EG          Egypt   45.0  False
EUR    ENG        England    NaN   True

In [ ]:
# set the column names
# country coede is no longer required now so
cars_df.columns = ['region', 'country', 'car_per_cap', 'drive_right']
cars_df

      region        country  car_per_cap  drive_right
0
USCA      US  United States        809.0        False
ASPAC    AUS      Australia        731.0         True
ASPAC    JAP          Japan        588.0         True
ASPAC     IN          India         18.0         True
ASPAC     RU         Russia        200.0        False
LATAM    MOR        Morocco         70.0        False
AFR       EG          Egypt         45.0        False
EUR      ENG        England          NaN         True

In [ ]:
cars_df.index

Index(['USCA', 'ASPAC', 'ASPAC', 'ASPAC', 'ASPAC', 'LATAM', 'AFR', 'EUR'], dtype='object', name=0)

**Rename Index Name**

In [ ]:
cars_df.index.name = 'Country_Code'
cars_df

             region        country  car_per_cap  drive_right
Country_Code
USCA             US  United States        809.0        False
ASPAC           AUS      Australia        731.0         True
ASPAC           JAP          Japan        588.0         True
ASPAC            IN          India         18.0         True
ASPAC            RU         Russia        200.0        False
LATAM           MOR        Morocco         70.0        False
AFR              EG          Egypt         45.0        False
EUR             ENG        England          NaN         True

**Delete the index name**

In [ ]:
cars_df.index.name = None
cars_df

      region        country  car_per_cap  drive_right
USCA      US  United States        809.0        False
ASPAC    AUS      Australia        731.0         True
ASPAC    JAP          Japan        588.0         True
ASPAC     IN          India         18.0         True
ASPAC     RU         Russia        200.0        False
LATAM    MOR        Morocco         70.0        False
AFR       EG          Egypt         45.0        False
EUR      ENG        England          NaN         True

**Set Hierarchical index**

In [ ]:
# Read file and set the 1st column as index
cars_df = pd.read_csv("cars.csv", header=None)

# Set the column names
cars_df.columns = ['country_code', 'region', 'country', 'car_per_cap', 'drive_right']
cars_df.set_index(['region', 'country_code'], inplace=True)
cars_df

                           country  car_per_cap  drive_right
region country_code
US     USCA          United States        809.0        False
AUS    ASPAC             Australia        731.0         True
JAP    ASPAC                 Japan        588.0         True
IN     ASPAC                 India         18.0         True
RU     ASPAC                Russia        200.0        False
MOR    LATAM               Morocco         70.0        False
EG     AFR                   Egypt         45.0        False
ENG    EUR                 England          NaN         True

**Writing the dataframe back to te csv file**

In [ ]:
cars_df.to_csv('cars_to_csv.csv')