<a href="https://colab.research.google.com/github/Code-tanisha/UPgrad-Python-Data-science-/blob/main/Practice_Mesurementdata_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Question

The air quality data for this segment has been divided into three different csv files. 

`info.csv` has the data hour by hour data about the concentration of polutants in the air and the status of the intruments. 
`item_info` has the data for items and levels of concetration. 
`station_info` has the data for measuring stations. 

Read in all the three datasets and then print the first five rows.

You can download the dataset from kaggle website: https://www.kaggle.com/bappekim/air-pollution-in-seoul

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
from google.colab import files
uploaded = files.upload()

Saving Measurement_info.csv to Measurement_info.csv

In [3]:
data = pd.read_csv('Measurement_info.csv')
data.head()

   Measurement date  Station code  Item code  Average value  Instrument status
0  2017-01-01 00:00           101          1          0.004                  0
1  2017-01-01 00:00           101          3          0.059                  0
2  2017-01-01 00:00           101          5          1.200                  0
3  2017-01-01 00:00           101          6          0.002                  0
4  2017-01-01 00:00           101          8         73.000                  0

In [4]:
from google.colab import files
uploaded = files.upload()

Saving Measurement_item_info.csv to Measurement_item_info.csv

In [5]:
item = pd.read_csv('Measurement_item_info.csv')
item.head()

   Item code Item name  ... Bad(Yellow)  Very bad(Red)
0          1       SO2  ...        0.15            1.0
1          3       NO2  ...        0.20            2.0
2          5        CO  ...       15.00           50.0
3          6        O3  ...        0.15            0.5
4          8      PM10  ...      150.00          600.0

[5 rows x 7 columns]

In [6]:
from google.colab import files
uploaded = files.upload()

Saving Measurement_station_info.csv to Measurement_station_info.csv

In [7]:
station = pd.read_csv('Measurement_station_info.csv')
station.head()

   Station code Station name(district)  ...   Latitude   Longitude
0           101              Jongno-gu  ...  37.572016  127.005008
1           102                Jung-gu  ...  37.564263  126.974676
2           103             Yongsan-gu  ...  37.540033  127.004850
3           104           Eunpyeong-gu  ...  37.609823  126.934848
4           105           Seodaemun-gu  ...  37.593742  126.949679

[5 rows x 5 columns]

#### Question

Create a new Dataframe whcih has information about the item code and item name

In [8]:
sub_item = item[['Item code', 'Item name']]
sub_item

   Item code Item name
0          1       SO2
1          3       NO2
2          5        CO
3          6        O3
4          8      PM10
5          9     PM2.5

#### Question

Create a new Dataframe whcih has information about the station code and station name

In [13]:
sub_station = station[['Station code', 'Station name(district)']]
sub_station.head()

   Station code Station name(district)
0           101              Jongno-gu
1           102                Jung-gu
2           103             Yongsan-gu
3           104           Eunpyeong-gu
4           105           Seodaemun-gu

### Question 

In the `data` DataFrame add in a column displaying the names of the items.

In [17]:
data_i = data.merge(sub_item, on = 'Item code', how = "left")
data_i.head()

   Measurement date  Station code  ...  Instrument status  Item name
0  2017-01-01 00:00           101  ...                  0        SO2
1  2017-01-01 00:00           101  ...                  0        NO2
2  2017-01-01 00:00           101  ...                  0         CO
3  2017-01-01 00:00           101  ...                  0         O3
4  2017-01-01 00:00           101  ...                  0       PM10

[5 rows x 6 columns]

### Question 

In the `data_i` DataFrame add in a column displaying the names of the stations.

In [22]:
data_s = data_i.merge(sub_station, on = "Station code", how = "left")
data_s.head()

   Measurement date  Station code  ...  Item name  Station name(district)
0  2017-01-01 00:00           101  ...        SO2               Jongno-gu
1  2017-01-01 00:00           101  ...        NO2               Jongno-gu
2  2017-01-01 00:00           101  ...         CO               Jongno-gu
3  2017-01-01 00:00           101  ...         O3               Jongno-gu
4  2017-01-01 00:00           101  ...       PM10               Jongno-gu

[5 rows x 7 columns]

### Question 

In the `data_s` DataFrame drop the columns `Station code` and `Item code`. As these columns have not become redundant. You can find the relevant function in the pandas library [here](https://pandas.pydata.org/docs/reference/index.html).

In [24]:
data = data_s.drop(['Station code', 'Item code'], axis = 1)
data.head()

   Measurement date  Average value  ...  Item name Station name(district)
0  2017-01-01 00:00          0.004  ...        SO2              Jongno-gu
1  2017-01-01 00:00          0.059  ...        NO2              Jongno-gu
2  2017-01-01 00:00          1.200  ...         CO              Jongno-gu
3  2017-01-01 00:00          0.002  ...         O3              Jongno-gu
4  2017-01-01 00:00         73.000  ...       PM10              Jongno-gu

[5 rows x 5 columns]

In [25]:
data.shape

(3885066, 5)

### Question 

Given below are the meanings of the values in the `Instrument status`. 

- 0: Normal 
- 1: Need for calibration 
- 2: Abnormal
- 4: Power cut off 
- 8: Under repair
- 9: Abnormal data

Using the information given above, add a column in the `data` DataFrame to give the status of the intsruments. Then drop the `Instrument status` column.  

Hint: First create a dictionary from the data, then use the same dictionary to create a DataFrame and then merge the DataFrame. with `data`

In [27]:
status_dict = {'Instrument status':[0,1,2,4,8,9],
               'status':["Normal", "Need for colibration", "Abnormal", "Power cut off", "Under repair", "Abnormal data"]}
status_dict

{'Instrument status': [0, 1, 2, 4, 8, 9],
 'status': ['Normal',
  'Need for colibration',
  'Abnormal',
  'Power cut off',
  'Under repair',
  'Abnormal data']}

In [28]:
dictdf = pd.DataFrame(status_dict)
dictdf

   Instrument status                status
0                  0                Normal
1                  1  Need for colibration
2                  2              Abnormal
3                  4         Power cut off
4                  8          Under repair
5                  9         Abnormal data

In [29]:
data = data.merge(dictdf, on = "Instrument status", how = "left")

In [31]:
data.drop(["Instrument status"], axis = 1).head()

   Measurement date  Average value Item name Station name(district)  status
0  2017-01-01 00:00          0.004       SO2              Jongno-gu  Normal
1  2017-01-01 00:00          0.059       NO2              Jongno-gu  Normal
2  2017-01-01 00:00          1.200        CO              Jongno-gu  Normal
3  2017-01-01 00:00          0.002        O3              Jongno-gu  Normal
4  2017-01-01 00:00         73.000      PM10              Jongno-gu  Normal

### Question 

Extract the time series data, that is year, month, date and hour form the `Measurement date` column. Once all the data is extrcted drop the `Measurement date` column. 

This operation might take some time as the dataset we are working with is very large.

In [34]:
data['Year'] = pd.DatetimeIndex(data["Measurement date"]).year
data['Month'] = pd.DatetimeIndex(data["Measurement date"]).month
data['Date'] = pd.DatetimeIndex(data["Measurement date"]).day
data['Hour'] = pd.DatetimeIndex(data['Measurement date']).hour
data.head()

   Measurement date  Average value  Instrument status  ... Month Date Hour
0  2017-01-01 00:00          0.004                  0  ...     1    1    0
1  2017-01-01 00:00          0.059                  0  ...     1    1    0
2  2017-01-01 00:00          1.200                  0  ...     1    1    0
3  2017-01-01 00:00          0.002                  0  ...     1    1    0
4  2017-01-01 00:00         73.000                  0  ...     1    1    0

[5 rows x 10 columns]

In [35]:
data = data.drop(["Measurement date"], axis = 1)

In [36]:
data.head()

   Average value  Instrument status Item name  ... Month Date  Hour
0          0.004                  0       SO2  ...     1    1     0
1          0.059                  0       NO2  ...     1    1     0
2          1.200                  0        CO  ...     1    1     0
3          0.002                  0        O3  ...     1    1     0
4         73.000                  0      PM10  ...     1    1     0

[5 rows x 9 columns]